Source: sleepi3-firmware
Section: kernel
Priority: optional
Maintainer: Yuta Kiyonaga <kiyonaga@mechatrax.com>
Uploaders: Masahiro Honda <honda@mechatrax.com>
Build-Depends: debhelper-compat (= 12), device-tree-compiler
Standards-Version: 4.6.2
Vcs-Git: https://github.com/mechatrax/sleepi3-firmware.git
Vcs-browser: https://github.com/mechatrax/sleepi3-firmware
Homepage: https://mechatrax.com/

Package: sleepi3-firmware
Architecture: armhf arm64
Conflicts: sleepi-firmware, sleepi2-firmware
Recommends: linux-image-rpi-dummy | linux-image-rpi-v6 [armhf] | linux-image-rpi-v7 [armhf] | linux-image-rpi-v7l [armhf] | linux-image-rpi-v8 [armhf arm64] | linux-image-rpi-2712 [armhf arm64]
Pre-Depends: mechatrax-firmware-dummy | raspi-firmware
Depends: ${misc:Depends}, raspi-config (>=20160506)
Description: Device tree overlay binary for slee-Pi 3
 This package contains the device tree overlay binary for slee-Pi 3.
