Source: sleepi3-firmware
Section: kernel
Priority: optional
Maintainer: Yuta Kiyonaga <kiyonaga@mechatrax.com>
Uploaders: Masahiro Honda <honda@mechatrax.com>
Build-Depends: debhelper-compat (= 12), device-tree-compiler
Standards-Version: 4.5.1
Vcs-Git: https://github.com/mechatrax/sleepi3-firmware.git
Vcs-browser: https://github.com/mechatrax/sleepi3-firmware
Homepage: https://mechatrax.com/

Package: sleepi3-firmware
Architecture: armhf arm64
Conflicts: sleepi-firmware, sleepi2-firmware
Depends: ${misc:Depends}, libraspberrypi-bin (>= 1.20160506-1), raspberrypi-bootloader (>= 1.20160506-1), raspi-config (>= 20160506)
Description: Device tree overlay binary for slee-Pi 3
 This package contains the device tree overlay binary for slee-Pi 3.
